/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1 rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  /* 26px */
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: #fff;
  text-decoration: none;
}

button {
  background: #4c6e97;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 2rem 6rem;
  transition: background 0.5s ease-in-out;
}

button:hover {
  background: #27394e;
}

/*  End of global styles */


/* Nav section with HERO */
.main-head {
  background-color: #131c27;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 4;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  min-height: 10vh;
  padding: 2rem;
  width: 90%;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#logo {
  flex: 2 1 40rem;
  font-family: 'Pattaya', sans-serif;
  font-weight: 400;
}

#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url('./img/landing-page.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  min-height: 90vh;
  text-align: center;
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero h3 {
  padding: 5rem;
}


/* End of Nav section with HERO */

/*  location section  */

#location {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(./img/new-york-page.png);
  background-size: cover;
  background-position: center;
  /* to fix cloud going outside section */
  overflow: hidden;
  /* position for clouds */
  position: relative;
  /* flex */
  display: flex;
  align-items: center;
}

.location-head {
  margin: auto;
  width: 90%;
}

.location-head h2 {
  padding: 1rem 0rem;
}

.location-head h3 {
  padding: 4rem 0rem;
  /* to give text a linear gradient */
  background: linear-gradient(#131c27, #663b34);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.cloud {
  /* relative to #location */
  position: absolute;
  top: 0%;
  right: 0%;
}

.moving-cloud-1 {
  animation: cloudAnimation 3s infinite alternate ease-in-out;

}

.moving-cloud-2 {
  top: 20%;
  z-index: -1;
  opacity: 0.5;
  animation: cloudAnimation 3.5s infinite alternate ease-in-out;

}


@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }

  to {
    transform: translate(0%, 0%);
  }
}

/* End of location section  */

/* Benefits section  */

.benefits-head {
  background: #343c44;
  color: #fff;
  min-height: 30vh;
  padding: 3rem;
  text-align: center;
  /* Flex*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.benefits-head h2 {
  padding: 2rem;
  font-weight: normal;
}

.benefits-head h3 {
  font-size: 2.8rem;
}

.cards {
  width: 90%;
  margin: auto;
  min-height: 70vh;
  /* flex */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
    0px 20px 20px rgba(0, 0, 0, 0.1);
  margin: 2rem 3rem;
  min-height: 40vh;
  text-align: center;
  /* flex */
  flex: 1 1 25rem;
}

.card-icon {
  /* background: #343c44; */
  background: #27394e;
  padding: 10% 0;
}

.card h4 {
  padding: 3rem;
}

.card p {
  font-weight: 500;
  padding: 2rem;
}

.cards img {
  margin: 2rem;
  max-width: 25%;
}

/* End of Benefits section  */

/*  Contact section  */
#contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(./img/contact-mountain.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  /* flex */
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  background: rgba(19, 28, 39, 0.8);
  border-radius: 20px;
  color: #fff;
  width: 50%;
}

.form-head {
  padding: 4rem;
  text-align: center;
}

.form-head h2 {
  font-weight: normal;
}

.name-form,
.email-form {
  padding: 3rem;
  text-align: center;

}

.form-wrapper label {
  margin: 0rem 3rem;
}

.form-wrapper button {
  background: #121C27;
  margin-top: 8rem;
  padding: 2rem;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.form-wrapper input {
  background: #333B45;
  border: 1px solid #fff;
  color: #fff;
  margin-left: 4rem;
  padding: 1rem 3rem;
  width: 50%;
}


/* End of Contact section  */

/* Footer section */

footer {
  background: rgba(19, 28, 39, 1);
  color: #fff;
}

.footer-wrapper {
  align-items: center;
  padding: 2rem;
  margin: auto;
  min-height: 10vh;
  width: 90%;
  /* flex */
  display: flex;
}

footer h5 {
  font-weight: normal;
  /* flex */
  flex: 1 1 40rem;
}

footer ul {
  list-style: none;
  /* flex */
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}


@media screen and (max-width: 952px) {
  html {
    font-size: 45%;
  }

  nav {
    text-align: center;
  }

  #logo {
    padding: 2rem;
  }

  .cloud {
    height: 40rem;
    /* hide mouse pointer/dragging on clouds */
    pointer-events: none;
  }

  .moving-cloud-1 {
    z-index: -1;
  }

  .moving-cloud-2 {
    top: 10%;
    z-index: -2;
  }

  .location-head h3 {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 3%;
    color: #000;
    padding: 0 0 0 5px;
    -webkit-text-fill-color: #131c27;
  }

  .form-wrapper {
    width: 75%;
  }
}