/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1 rem = 10px */
  font-size: 62.5%;
}

h1 {
  /* 26px */
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: #fff;
  text-decoration: none;
}

/*  End of global styles */

/* Nav section with HERO */

.main-head {
  background-color: #131c27;
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
  margin: auto;
  min-height: 10vh;
  padding: 2rem;
  width: 90%;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#logo {
  flex: 2 1 40rem;

}


.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url('./img/landing-page.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
}









/* End of Nav section with HERO */